<div><h1>Blackjack</h1>
  <p>Rules of this game.</p></div>

<div class="well well-large">
  <ul>
  <li>Single deck of 52 cards is used. Which is shuffled prior to dealing.  The same deck is used until 10 or less cards are left after a hand.  The a new deck is started.</li>

  <li>Dealer hits on anything below 17 and soft 17's.<li>
  <li>The player can not beat a dealer 2 card blackjack but the player can tie a blackjack with .</li>
  <li>The player can't lose on a 2 card blackjack but the dealer can tie you with a two card blackjack.</li>
  <li>The player can doulble down on the first two cards only.</li>
  <li>If the player bank roll is 0 the game is over.  Press the New Game menu button to refreash your bankroll.</li>
</ul>