<h2>Welcome to Blackjack</h2><br>
What's your name?
<form  action='/new_player' method='post'>
	<input type='text' name='player_name'/>
  <br>
	<!-- How many Decks: <input type='text' name='numdecks'/><br> -->
	<input type='submit' class='button' value='Submit' />
</form>